---
layout: root
title: Tewha.net
tagline: Mostly about iOS.
theme: tewha
---

<section>
	<header>
		<h1><a href="{{ HOME_PATH }}">{{ site.title }} {% if site.tagline %} <small>{{ site.tagline }}</small>{% endif %}</a><a href="{{ production_url }}/atom.xml" class="rss"><img src="{{ production_url }}/assets/themes/tewha/feed-icon-28x28.png" width="28" height="28"></a></h1>
	</header>
	
  {% for page in paginator.posts %}
    <article>
      <header>
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
      </header>
      {{ page.content | postmorefilter: page.url, "Read the rest of this entry" }}
    </article>
  {% endfor %}

  <footer>
      <ul>
        {% if paginator.previous_page == 1 %}
          <li class="newer"><a href="/">&larr; Newer Entries</a></li>
        {% elsif paginator.previous_page %}
          <li class="newer"><a href="/page{{ paginator.previous_page }}">&larr; Newer Entries</a></li>
        {% endif %}
        {% if paginator.next_page %}
          <li class="prev"><a href="/page{{ paginator.next_page }}">Older Entries &rarr;</a></li>
        {% endif %}
      </ul>
  </footer>
</section>
