@body-font: "Helvetica Neue",Helvetica,Arial,sans-serif;
@code-font: Menlo,Monaco,"Courier New",monospace;
@headline-font: 'American Typewriter', serif;

@gutter-color: hsl(34, 10%, 40%);
@mast-background: hsl(0, 13%, 20%);
@mast-text: hsl(0, 0%, 93%);
@mast-link: hsl(0, 0%, 100%);
@mast-hover: hsl(0, 0%, 100%);
@shadow-color: @mast-background;
@chrome-text-color: hsl(33, 23%, 22%);
@chrome-link-color: hsl(0, 0%, 10%);
@chrome-hover-color: hsl(0, 0%, 100%);
@body-text-color: hsl(0, 0%, 10%);
@body-link-color: hsl(202, 81%, 44%);
@body-hover-color: hsl(202, 81%, 30%);
@body-background-color: hsl(29, 58%, 99%);
@body-meta-color: hsl(0, 0%, 50%);
@code-background-color: hsl(29, 56%, 96%);
@scrollbar-thumb-color: hsla(0, 0%, 0%, 0.3);
@navigation-link-color: hsl(0, 0%, 30%);
@navigation-hover-color: hsl(0, 0%, 100%);
@navigation-hover-background-color: hsl(0, 0, 30%);
@navigation-text-color: hsl(0, 0%, 75%);

h1,h2,h3,h4,h5,h6 {
	font-family: @headline-font;
	font-weight: 400;
	margin: 0;
}

body {
	font-family: @body-font;
	font-size: 14pt;
}

pre, code {
	font-family: @code-font;
}

body {
	background-color: @gutter-color;
	background-image: url('background.png');
	color: @body-text-color;
	margin: 5pt auto;
	max-width: 500pt;
	>section>header>h1 {
		padding: 24pt;
		color: @mast-text;
		background-color: @mast-background;
		small {
			padding-left: 3pt;
			font-size: 11pt;
		}
		a {
			text-decoration: none;
		}
		a:link,a:visited {
			color: @mast-link;
		}
		a:hover, a:active {
			color: @mast-hover;
		}
		.rss {
			float: right;
			width: 28px;
			height: 28px;
		}
	}
	>section>header {
		ul {
			padding: 0;
			list-style: none;
			li {
				display: inline;
			}
		}
	}
	>section {
		box-shadow: 0px 10px 25px 5px @shadow-color;
	}
	>section {
		background-color: @body-background-color;
	}
	>section>footer {
		padding-bottom: 12pt;
	}
	>footer {
		width: 100%;
		padding: 5pt;
		color: @chrome-text-color;
		a {
			text-decoration: none;
		}
		a:link,a:visited {
			color: @chrome-link-color;
		}
		a:hover, a:active {
			color: @chrome-hover-color;
		}
		text-align: center;
		ul {
			padding: 0;
			list-style: none;
			li {
				margin: 0 5pt;
				display:inline;
			}
		}
		nav ul li a {
			border-style:solid;
			border-width:1px;
			padding:2pt 4pt;
			border-radius:4pt;
		}				
	}
}

.content {
	margin:3pt auto;
}

article {
	padding-top: 0pt;
}

article:first-of-type {
	padding-top: 24pt;
}

article {
	>header, >h2, >h3, >h4, >pre, >p, >footer, >ul, >ol {
		padding-left: 24pt;
		padding-right: 24pt;
	}
	>pre {
		padding-top: 12pt;
		padding-bottom: 12pt;
	}
	>ul, >ol {
		margin-left: 24pt;
		margin-right: 24pt;
	}
	padding-bottom: 24pt;
	margin: 0 auto;
	>footer {
		text-align: left;
	}
	li, p {
		line-height: 160%;
	}
	pre {
		line-height: 150%;
	}
}

h1 {
	font-size: 22pt; 
}
h2 {
	font-size: 22pt; 
}
h3 {
	font-size: 20pt; 
}
h4, h5, h6 {
	font-size: 18pt; 
}

a:link,a:visited {
	color:#0088cc;
}
a:hover, a:active {
	color:#005580;
}

section>footer {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: inline;
			font-size: 14pt;
		}
	}
	display: table;
	font-size: 18pt;
	margin: 0 auto;
	a:link, a:visited, a:hover, a:active {
		text-decoration: none;
		color: @navigation-link-color;
	}
	a:hover, a:active {
		background-color: @navigation-hover-background-color;
		color: @navigation-hover-color;
	}
	.disabled {
		color: @navigation-text-color;
	}
}

pre {
	font-size:10pt;
	background-color: @code-background-color;
	overflow-x: auto;
}
pre code {
	color:#000;
}
.navbar, .page-header, .row {
	margin: 0;
	padding: 6pt 24pt;
}

.more {
	font-size: 12pt;
}

.tag_box {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 0;
	display: inline;
	font-size: 9pt;
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		display: inline;
		white-space: nowrap;
		background-color: #fff;
		a {
			border-style:solid;
			border-width:1px;
			padding:3pt;
			border-radius:8pt;
		}
		a:link,a:visited {
			background-color:#eee;
			color:#555;
			border-color:#999;
		}
		a:hover, a:active {
			background-color:#fff3f3;
			color:#cc8888;
			border-color:#aa8888;
		}
	}
}


pre::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}

pre::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: @scrollbar-thumb-color;
}

.post-date {
	font-size: 11pt;
	color: @body-meta-color;
}
