{% strip %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" media="all" href="{{ ASSET_PATH }}/style.css">
	<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/emphasize.css" />
	
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script>
		window.onload = function() {
			$("pre").addClass("emphasize obj-c");
			var _emphasize = _emphasize || [];
			(function() {
				var t   = document.createElement('script');
				t.type  = 'text/javascript';
				t.async = true;
				t.id    = 'emphasize';
				t.src = '{{ ASSET_PATH }}/emphasize.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(t, s);
			})();
		};
	</script>
  </head>

  <body>
	{{ content }}

	<footer>
	  <nav>
		<ul>
			{% assign pages_list = site.pages %}
			{% assign group = 'navigation' %}
			{% include JB/pages_list %}
		</ul>
	  </nav>
	  <p>Copyright &copy; 2007-{{ site.time | date: '%Y' }} {{ site.author.name }}<br>
	  <small>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.<br><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br>
</small></p>
	</footer>

    {% include JB/analytics %}
	<script src='https://d2zh9g63fcvyrq.cloudfront.net/adn.js'></script>
	<a rel="me" href="https://alpha.app.net/tewha"></a>
  </body>
</html>
{% endstrip %}
