<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/style.css" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  </head>

  <body>
	<header>
		<h1><a href="{{ HOME_PATH }}">{{ site.title }} {% if site.tagline %} <small>{{ site.tagline }}</small>{% endif %}</a><a href="{{ production_url }}/atom.xml" class="rss"><img src="{{ production_url }}/assets/themes/tewha/feed-icon-28x28.png" width="28" height="28"></a>
</h1>
	</header>
	
	{{ content }}

	<footer>
	  <nav>
		<ul>
			{% assign pages_list = site.pages %}
			{% assign group = 'navigation' %}
			{% include JB/pages_list %}
		</ul>
	  </nav>
	  <p>Copyright &copy; 2007-{{ site.time | date: '%Y' }} {{ site.author.name }}<br>
	  <small><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</small></p>
	</footer>

    {% include JB/analytics %}
  </body>
</html>
